{
	"extends": "eslint:recommended",
	"parser": "babel-eslint",
	"env": {
		"es6": true,
		"node": true
	},
	"rules": {
		"comma-dangle": "off",
		"no-console": [
			"error",
			{
				allow: ["error"]
			}
		]
	}
}
